<style>
.covid {
    padding-left: 1em;
    padding-right: 1em;
    background: #f0f0f0;
    border: 3px solid #96172e;
    margin: auto;
    max-width:800px;
}
</style>
<div class="covid" id="covid">
<h3>UW COVID-19 update</h3>
<p>The University of Waterloo is constantly updating our most <a href="https://uwaterloo.ca/coronavirus/frequently-asked-questions" target="_blank">Frequently Asked Questions</a>.</p>
<p>Read more Grebel-specific details about <a href="https://uwaterloo.ca/grebel/covid-19" target="_blank">the College's response to COVID-19</a>. All end of term concerts are cancelled. </p>
<p><b>Please note</b>: The University of Waterloo is closed for all events until further notice.</p>
<p><a href="https://ncov2019.live/" target="_blank">Coronavirus Dashboard</a> &nbsp; and &nbsp; <a href="https://superpyq.com/covid19en" target="_blank">Covid-19 Info Hub for Ontarians</a></p>
</div>
