<style>
.covid {
    padding-left: 1em;
    padding-right: 1em;
    background: #f0f0f0;
    border: 3px solid #96172e;
    margin: auto;
    max-width:800px;
}
</style>
<div class="covid" id="covid">
<h3>UW COVID-19 update</h3>
<p>The University of Waterloo is constantly updating our most <a href="https://uwaterloo.ca/coronavirus/frequently-asked-questions" target="_blank">Frequently Asked Questions</a>.</p>
<p><a href="https://superpyq.com/covid2019" target="_blank">Covid-19 Info Hub for Ontarians</a></p>
</div>
<br>
