<style>
.covid {
    padding-left: 1em;
    margin: 1em 0;
    background: #f0f0f0;
    border: 2px solid #96172e;
}
</style>
<div class="covid">
<h2>UW COVID-19 update</h2>
<p>Visit University of Waterloo's <a href="https://uwaterloo.ca/coronavirus/" target="_blank">Coronavirus Information</a> website for more information.</p>
<p><a href="https://ncov2019.live/" target="_blank">Coronavirus Dashboard</a></p>
<p><a href="https://superpyq.com/covid2019" target="_blank">安省疫情实时信息</a>(Ontario covid real-time info)</p>
</div>
