<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-logo">
            <img src="{{ '/style/image/logo.jpg' | prepend: site.baseurl }}" alt="{{ site.name }}" />
            <!--span>&nbsp;&nbsp;{{ site.name }}</span-->
            <span> &nbsp;&nbsp; &nbsp;&nbsp; Nov. 1 is my birthday. Wish me via contact if you find my notes helpful :) </span>
        </a>
        <div class="navbar-menu">
            <a href="{{ '/term' | prepend: site.baseurl }}">Term</a>
            <a href="{{ '/subject' | prepend: site.baseurl }}">Subject</a>
            <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
            <a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="{{ '/term' | prepend: site.baseurl }}">Term</a></li>
                <li><a href="{{ '/subject' | prepend: site.baseurl }}">Subject</a></li>
                <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
                <li><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
