
{% assign url = "https://notes.sibeliusp.com" | append: site.baseurl | append: page.url %}

<div style="text-align:center;">
 <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" class="facebook" target="_blank" ><i style="font-style: normal;" class="fa fa-facebook"></i></a>
 &nbsp;&nbsp;
  <a href="https://twitter.com/intent/tweet?url={{ url }}&text={{ page.title }}" class="twitter" target="_blank" ><i style="font-style: normal;" class="fa fa-twitter"></i></a>
&nbsp;&nbsp;
  <a href="https://www.google.com/bookmarks/mark?op=edit&bkmk={{ url }}&title={{ page.title }}" class="google" target="_blank" ><i style="font-style: normal;" class="fa fa-google"></i></a>
&nbsp;&nbsp;
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ page.title }}" class="linkedin" target="_blank" ><i style="font-style: normal;" class="fa fa-linkedin"></i></a>
&nbsp;&nbsp;
  <a href="https://reddit.com/submit?url={{ url }}&title={{ page.title }}" target="_blank" ><i style="font-style: normal;" class="fa fa-reddit"></i></a>
&nbsp;&nbsp;
  <a href="http://service.weibo.com/share/share.php?url={{ url }}&appkey=&title={{ page.title }}" target="_blank" ><i style="font-style: normal;" class="fa fa-weibo"></i></a>
&nbsp;&nbsp;
  <a href="mailto:?subject={{ page.title }}&body=Hey, check out this awesome page: {{ url }}" target="_blank" ><i style="font-style: normal;" class="fa fa-envelope"></i></a>
</div>
