
{% assign url = "https://notes.sibeliusp.com" | append: site.baseurl | append: page.url %}


<div class="icon-bar">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/intent/tweet?url={{ url }}&text={{ page.title }}" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://plus.google.com/share?url={{ url }}" class="google"><i class="fa fa-google"></i></a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ page.title }}" class="linkedin"><i class="fa fa-linkedin"></i></a>
</div>

<ul class="social-icons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"><img src='/assets/social/Facebook.svg' /></a></li>
    <li><a href="https://twitter.com/intent/tweet?url={{ url }}&text={{ page.title }}"><img src=/assets/social/Twitter.svg' /></a></li>
    <li><a href="https://plus.google.com/share?url={{ url }}"><img src='/assets/social/Google+.svg'/></a></li>
    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ page.title }}"><img src='/assets/social/Linkedin.svg' /></a></li>
</ul>
