<footer class="footer">
  <div class="container">
    {% unless page.layout == 'markdown' or 'mdtoc' %}
    {% include nav-footer.html %}
    {% endunless %}
    <!--div class="typeset" style="text-align:center">
        Last modified on {{ page.last_modified_at %d-%b-%Y}}
        doesn't work in github page
    </div-->
    {% if page.layout == 'termsss' %}
    <div class="copyright typeset">
        <small style="color:white;">Backpic Src: <a href='https://uwaterloo.ca/graduate-studies-academic-calendar/'>Grad Calendar</a></small>
    </div>
    {% endif %}
    {% if page.layout == 'subjectsss' %}
    <div class="copyright typeset">
        <small style="color:white;">Backpic Src: <a href='https://uwaterloo.ca/'>uwaterloo.ca</a></small>
    </div>
    {% endif %}
    <div class="copyright  typeset">
      <small style="color:white;">Copyright &copy; <a href="/">{{ site.author }}</a> {{ site.time | date: '%Y' }}</small>
    </div>
  </div>
</footer>
