<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/markdown/my-layout/assets/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/markdown/my-layout/assets/css/pilcrow.css"/>
    <link type="text/css" rel="stylesheet" href="/markdown/my-layout/assets/css/hljs-github.min.css"/>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/javascript" src="/markdown/my-layout/assets/js/jquery-1.8.3.min.js"></script>
    <script src="https://vexflow.com/releases/vextab-div.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    {% include site-icons.svg %}
    {% include site-header.html %}
    {% include covid.html %}




{{ content }}


{% include share-buttons.html %}


    {% include site-footer.html %}


<script>
    function resize(){
        $(".vex-canvas").width($(".content").width());
    }
    $(document).ready(function(){
        resize();
        $(window).on("resize", function(){
            resize();
        });
    });
</script>

</body>
</html>
