---
layout: default
---

<main class="main container">
<article class="content  typeset">
<h1>{{ page.title }}</h1>
{% include post-meta.html %}
<div style="padding-bottom: 3%">
    {% include covid.html %}
{% assign cid = page.title | split: " " | last %}

{% if page.latex %}
<p><i class="far fa-hand-point-right" style="font-style: normal;"></i> <a href="{{ page.latex }}" style="background-image:none" target="_blank"><i class="fas fa-file-pdf" style="font-style: normal;"></i> notes</a></p>
{% endif %}
{% if page.md %}
<p><i class="far fa-hand-point-right" style="font-style: normal;"></i> <a href="{{ page.md }}" style="background-image:none" target="_blank"><i class="fab fa-markdown" style="font-style: normal;"></i> notes</a></p>
{% endif %}
{{ content }}
</div>

{% include share-buttons.html %}

</article>


{% include site-aside.html %}

</main>
   <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4472349,4,511,95,18,00000000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><!--a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4472349&101" alt="free hit counters" border="0"></a--></noscript>
<!-- Histats.com  END  -->