---
layout: default
---


<main class="main container">
<article class="content  typeset">
<h1>{{ page.title }}</h1>
{% include post-meta.html %}
<div style="padding-bottom: 3%">
    {% include covid.html %}
{% assign cid = page.title | split: " " | last %}
{% if page.subject == "cs" %}
<p><a href="https://www.student.cs.uwaterloo.ca/~cs{{ cid }}/" target="_blank">Course Website</a></p>
{% endif %}
<p><a href="https://ugradcalendar.uwaterloo.ca/courses/{{ page.subject | upcase }}/{{ cid }}" target="_blank">Undegraduate Calendar Course Description</a></p>
{{ content }}
</div>

{% include share-buttons.html %}

</article>


{% include site-aside.html %}

</main>
