---
layout: default
feature_image: "https://picsum.photos/1300/400?image=989"
---
<main class="main container">
    <div class="content">
        <div class="typeset">
        {{ content }}
        </div>
        {% assign target = page.subject %}
        {% assign counter = 0 %}
        <ul class="list list--posts">
        {% for page in site.posts %}
            {% if page.subject == target %}
                <li class="item item--post">
                    <div class="typeset">
                        <h5><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h5>
                        {% include post-meta.html %}
                    </div>
                </li>
            {% assign counter=counter | plus:1 %}
            {% endif %}
        {% endfor %}
        </ul>
        {% if counter == 0 %}
            <p>Sorry, I haven't taken any {{ target | upcase }} courses yet. </p>
        {% endif %}
    </div>
</main>
