---
layout: default
---
{% assign target = page.subject %}
<div class="main-content archive-page clearfix">
    <div class="categorys-item">
        <div class="post-lists">
            <div class="post-lists-body">
                {% for post in site.posts %}
                {% if post.subject == target %}
                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-label">
                            <div class="item-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-date"> {% include term_fun.html ttt=post.term %} </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
