---
layout: default
feature_text: |
      <h2 class="whitetext">SUBJECT SEARCH</h2>
image: https://c1.staticflickr.com/5/4248/34853989351_1e786a1baa_c.jpg
---
<main class="main container">
    <div class="content">
        {% assign target = page.subject %}
        <ul class="list list--posts">
        {% for page in site.posts %}
            {% if page.subject = target %}
                <li class="item item--post">
                    <div class="typeset">
                        <h4><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h4>
                        {% include post-meta.html %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</main>
