---
layout: default
feature_image: "https://picsum.photos/1300/400?image=989"
---
<main class="main container">
    <div class="content">
        <div class="typeset">
        {{ content }}
        </div>
        {% assign target = page.term %}
        <ul class="list list--posts">
        {% for page in site.posts %}
            {% if page.term == target %}
                <li class="item item--post">
                    <div class="typeset">
                        <h4><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h4>
                        {% include post-meta.html %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</main>
